html, body {
    height: 100%;
    color: #043474;
    background: linear-gradient(#acc4d4, #148cd4) no-repeat;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    margin: 0;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
    padding: 20px;
}


.header {
    height: 50px;
    position: absolute;
}

.header-logo {
    height: 75%;
    position: absolute;
    display: inline;
    transition: all 0.3s ease;
    margin: 0.5em 0em 0em 4em;
}

.header-logo:hover {
    transform: rotate(-15deg);
}

.header-title {
    font-size: 104%;
    display: inline;
    position: absolute;
    margin: 0.5em 0em 0em 7em;
}

.card-container {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 37px;
    grid-row-gap: 48px;
}

.card {
    max-width: 237px;
    min-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #042c84; */
}

.card img {
    /* width: 75%; */
    transition: all 0.3s ease;
    height: 70%;
}

.card img:hover{
    transform: rotate(-5deg);
}

.card button
{
    width: 98%;
    height: 30px;
    background-color: #acc4d4;
    border: 0px solid #148cd4;
    transition: all 0.3s ease;
    border-radius: 3px;

}

.card button:hover
{
    background-color: #043474;
    color: #acc4d4;
}

.card-text1 {
    color: #043474;
    font-size: 80%;
    font-weight: bold;
    margin-bottom: -10px;
}

.card-text2 {
    color: #5c749c;
    font-size: 80%;
}

footer {
    background-color: #043474;
    height: 100px;
}




